@model IEnumerable<music_store.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Sales stats";
}

<h2>Sales to date stats </h2>

<table class="sas">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Sales
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.salescount
            </td>
        </tr>
    }
</table>

